body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: auto;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
td {
  padding: 5px;
}
.positive {
  color: limegreen;
}
.negative {
  color: red;
}